*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
    background-color: #fff;
}
span{
    font-size: 2rem;
    color: #A052EF;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 3;
    width: 5cm;
}


